*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

html {
  block-size: 100%;
}

.page {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin: auto;
  padding: 133px 30px;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  background-color: #1b1919;
  inline-size: 1200px;
  block-size: 100%;
}

.content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 30px;
  min-width: 1140px;
  min-height: 534px;
  
}

.result {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 711px;
  height: 456px;

}

.result__video {
  width: 100%;
}


.content__details {
  display: flex;
  flex-direction: column;
  gap: 26px;
  width: 399px;
  height: 534px;
}

.search-form {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  gap: 40px;
}

.content__list-container {
    display: flex;
    flex-direction: column;
    height: 534px;
    overflow-y: auto;
}


/* Кастомный скроллбар */
.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: rgb(217 217 217 / 10%);
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #D9D9D9;
}

